<!DOCTYPE html>
<html>
   <head>
      <title>Soccer Weather</title>
      <meta charset="UTF-8">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <div style="padding:10px;border: 1px none black">
         <p style="color:rgb(140,140,140)" class="text-center"><a href = "https://darksky.net/poweredby/">
         <img class="img-responsive center-block" src="https://darksky.net/dev/img/attribution/poweredby-oneline.png" alt="" width="180"></a>
         Last Run: April 4, 2019 at 15:05</p>
         <H1 class="text-center"><a href  = "https://go.teamsnap.com/282250/schedule/view_game/194210120">Bottle drive - St Bonaventure</a></H1>
               <H4 style="color:rgb(0,0,0)" class="text-center">2019-04-06T16:00:00Z til 2019-04-06T19:00:00Z</H4>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Forecast Time</th>
                        <th>Summary</th>
                        <th>Temperture (°C)</th>
                        <th>Feels Like (°C)</th>
                        <th>POP (%)</th>
                        <th>Humidity (%)</th>
                        <th>UV</th>
                        <th>Wind (km/hr)</th>
                        <th>Wind Dir.</th>
                        <th>Cloud Cover (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>09:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>7</td>
                        <td>4</td>
                        <td>0</td>
                        <td>49.0</td>
                        <td>1</td>
                        <td>15</td>
                        <td>None</td>
                        <td>90.0</td>
                     </tr>
                     <tr>
                        <td>10:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>9</td>
                        <td>6</td>
                        <td>2.0</td>
                        <td>42.0</td>
                        <td>1</td>
                        <td>16</td>
                        <td>None</td>
                        <td>79.0</td>
                     </tr>
                     <tr>
                        <td>11:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>10</td>
                        <td>10</td>
                        <td>2.0</td>
                        <td>34.0</td>
                        <td>2</td>
                        <td>16</td>
                        <td>None</td>
                        <td>66.0</td>
                     </tr>
                     <tr>
                        <td>12:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>11</td>
                        <td>11</td>
                        <td>2.0</td>
                        <td>30.0</td>
                        <td>3</td>
                        <td>21</td>
                        <td>None</td>
                        <td>55.00000000000001</td>
                     </tr>
                     <tr>
                        <td>01:00 PM</td>
                        <td>Partly Cloudy</td>
                        <td>11</td>
                        <td>11</td>
                        <td>3.0</td>
                        <td>31.0</td>
                        <td>3</td>
                        <td>21</td>
                        <td>None</td>
                        <td>50.0</td>
                     </tr>
                  </tbody>
               </table>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator1"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator1" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Line.extend({
         name: "LineAlt",
         draw: function () {
         Chart.types.Line.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Temp (C)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator1").getContext("2d");
                  var data ={
           "labels":[
             "09:00 AM",
             "10:00 AM",
             "11:00 AM",
             "12:00 PM",
             "01:00 PM"
           ],
           "datasets":[
             {
               "label":"apparentTemperature",
               "strokeColor":"rgba(92,0,141,1)",
               "pointColor":"rgba(92,0,141,1)",
               "fillColor":"rgba(92,0,141,0)",
               "data":[
                 "4",
                 "6",
                 "10",
                 "11",
                 "11"
               ]
             },
             {
               "label":"temperature",
               "strokeColor":"rgba(252,49,18,1)",
               "pointColor":"rgba(252,49,18,1)",
               "fillColor":"rgba(252,49,18,0)",
               "data":[
                 "7",
                 "9",
                 "10",
                 "11",
                 "11"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).LineAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator1").innerHTML=MyNewChart.generateLegend();
               </script>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator2"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator2" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Bar.extend({
         name: "BarAlt",
         draw: function () {
         Chart.types.Bar.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Percentage (%)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator2").getContext("2d");
                  var data ={
           "labels":[
             "09:00 AM",
             "10:00 AM",
             "11:00 AM",
             "12:00 PM",
             "01:00 PM"
           ],
           "datasets":[
             {
               "label":"precipProbability",
               "strokeColor":"rgba(0,0,255,1)",
               "fillColor":"rgba(0,0,255,0.5)",
               "data":[
                 0,
                 2.0,
                 2.0,
                 2.0,
                 3.0
               ]
             },
             {
               "label":"humidity",
               "strokeColor":"rgba(40,177,255,1)",
               "fillColor":"rgba(40,177,255,0.5)",
               "data":[
                 49.0,
                 42.0,
                 34.0,
                 30.0,
                 31.0
               ]
             },
             {
               "label":"cloudCover",
               "strokeColor":"rgba(233,37,255,1)",
               "fillColor":"rgba(233,37,255,0.5)",
               "data":[
                 90.0,
                 79.0,
                 66.0,
                 55.00000000000001,
                 50.0
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).BarAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator2").innerHTML=MyNewChart.generateLegend();
               </script>
               <div id="mapHTMLReportGenerator3" style="width:100%;height:500px;"></div>
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" />
               <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
                        <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>
               <script>
                  var map = L.map('mapHTMLReportGenerator3').setView([49, -123], 13);
                              L.esri.basemapLayer("Topographic").addTo(map);
                  var layer=L.geoJson([
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -114.04792,
                 50.931858
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -114.04792,
                 50.931858
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -114.04792,
                 50.931858
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -114.04792,
                 50.931858
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -114.04792,
                 50.931858
               ]
             }
           }
         ],{onEachFeature: function (feature, layer) {layer.bindPopup(feature.properties.name);}, style:{"color": "rgb(255,0,0)"}}).addTo(map);
                  map.fitBounds(layer, {maxZoom: 12});
               </script>
         <hr style="border-width:5px ">
      </div>
      <div style="padding:10px;border: 1px none black">
         <p style="color:rgb(140,140,140)" class="text-center"><a href = "https://darksky.net/poweredby/">
         <img class="img-responsive center-block" src="https://darksky.net/dev/img/attribution/poweredby-oneline.png" alt="" width="180"></a>
         Last Run: April 4, 2019 at 15:05</p>
         <H1 class="text-center"><a href  = "https://go.teamsnap.com/282250/schedule/view_game/198305961">Evaluations - SWU Complex</a></H1>
               <H4 style="color:rgb(0,0,0)" class="text-center">2019-04-07T16:30:00Z til 2019-04-07T18:00:00Z</H4>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Forecast Time</th>
                        <th>Summary</th>
                        <th>Temperture (°C)</th>
                        <th>Feels Like (°C)</th>
                        <th>POP (%)</th>
                        <th>Humidity (%)</th>
                        <th>UV</th>
                        <th>Wind (km/hr)</th>
                        <th>Wind Dir.</th>
                        <th>Cloud Cover (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>09:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>7</td>
                        <td>5</td>
                        <td>0</td>
                        <td>48.0</td>
                        <td>1</td>
                        <td>12</td>
                        <td>None</td>
                        <td>86.0</td>
                     </tr>
                     <tr>
                        <td>10:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>10</td>
                        <td>8</td>
                        <td>0</td>
                        <td>42.0</td>
                        <td>2</td>
                        <td>13</td>
                        <td>None</td>
                        <td>87.0</td>
                     </tr>
                     <tr>
                        <td>11:00 AM</td>
                        <td>Mostly Cloudy</td>
                        <td>11</td>
                        <td>11</td>
                        <td>0</td>
                        <td>38.0</td>
                        <td>3</td>
                        <td>14</td>
                        <td>None</td>
                        <td>82.0</td>
                     </tr>
                  </tbody>
               </table>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator4"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator4" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Line.extend({
         name: "LineAlt",
         draw: function () {
         Chart.types.Line.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Temp (C)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator4").getContext("2d");
                  var data ={
           "labels":[
             "09:00 AM",
             "10:00 AM",
             "11:00 AM"
           ],
           "datasets":[
             {
               "label":"apparentTemperature",
               "strokeColor":"rgba(92,0,141,1)",
               "pointColor":"rgba(92,0,141,1)",
               "fillColor":"rgba(92,0,141,0)",
               "data":[
                 "5",
                 "8",
                 "11"
               ]
             },
             {
               "label":"temperature",
               "strokeColor":"rgba(252,49,18,1)",
               "pointColor":"rgba(252,49,18,1)",
               "fillColor":"rgba(252,49,18,0)",
               "data":[
                 "7",
                 "10",
                 "11"
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).LineAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator4").innerHTML=MyNewChart.generateLegend();
               </script>
               </style>
               <div class="container-fluid">
               	<div class="row">
               		<div class="col-xs-8" style="text-align:center"><canvas id="chartHTMLReportGenerator5"></canvas><p><small>Date/Time</small></p></div>
               		<div class="col-xs-4" id="legend_chartHTMLReportGenerator5" style="padding-left:75px;padding-top:25px"></div>
               	</div>
               </div>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
               <script>
               Chart.types.Bar.extend({
         name: "BarAlt",
         draw: function () {
         Chart.types.Bar.prototype.draw.apply(this, arguments);
         var ctx = this.chart.ctx;
         ctx.save();
         ctx.textAlign = "center";
         ctx.textBaseline = "bottom";
         ctx.fillStyle = this.options.scaleFontColor;
         this.scale.xScalePaddingLeft=100;
         var x = this.scale.xScalePaddingLeft * 0.4;
         var y = this.chart.height / 2;
         ctx.translate(x, y);
         ctx.rotate(-90 * Math.PI / 180);
         ctx.fillText("Percentage (%)", 0, 0);
         ctx.restore();
         }});
                  var ctx = document.getElementById("chartHTMLReportGenerator5").getContext("2d");
                  var data ={
           "labels":[
             "09:00 AM",
             "10:00 AM",
             "11:00 AM"
           ],
           "datasets":[
             {
               "label":"precipProbability",
               "strokeColor":"rgba(0,0,255,1)",
               "fillColor":"rgba(0,0,255,0.5)",
               "data":[
                 0,
                 0,
                 0
               ]
             },
             {
               "label":"humidity",
               "strokeColor":"rgba(40,177,255,1)",
               "fillColor":"rgba(40,177,255,0.5)",
               "data":[
                 48.0,
                 42.0,
                 38.0
               ]
             },
             {
               "label":"cloudCover",
               "strokeColor":"rgba(233,37,255,1)",
               "fillColor":"rgba(233,37,255,0.5)",
               "data":[
                 86.0,
                 87.0,
                 82.0
               ]
             }
           ]
         };
                  var options = { responsive:true,
                  				  multiTooltipTemplate: "<%=datasetLabel%> : <%= value %>",
                    			      legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %><div style=\"background-color:<%=datasets[i].fillColor%>;width:25px;height:25px;border-style:solid;border-color:<%=datasets[i].strokeColor%>;margin:5px\"><span style="color:rgba(0,0,0,0)">____</span><span><small><% if (datasets[i].label) { %><%= datasets[i].label %><% } %></small></span></div><% } %>'
                                   };
                  var MyNewChart = new Chart(ctx).BarAlt(data,options);
                  document.getElementById("legend_chartHTMLReportGenerator5").innerHTML=MyNewChart.generateLegend();
               </script>
               <div id="mapHTMLReportGenerator6" style="width:100%;height:500px;"></div>
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" />
               <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
                        <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>
               <script>
                  var map = L.map('mapHTMLReportGenerator6').setView([49, -123], 13);
                              L.esri.basemapLayer("Topographic").addTo(map);
                  var layer=L.geoJson([
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -113.9442,
                 50.9705
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -113.9442,
                 50.9705
               ]
             }
           },
           {
             "type":"Feature",
             "properties":{
               "name":"None",
               "popupContent":"None"
             },
             "geometry":{
               "type":"Point",
               "coordinates":[
                 -113.9442,
                 50.9705
               ]
             }
           }
         ],{onEachFeature: function (feature, layer) {layer.bindPopup(feature.properties.name);}, style:{"color": "rgb(255,0,0)"}}).addTo(map);
                  map.fitBounds(layer, {maxZoom: 12});
               </script>
         <hr style="border-width:5px ">
      </div>
   </body>
</html>

